<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
</head>
<body>
    <h1>Welcome to your genetic library, <%= name %></h1>


    <% recentGenetics.forEach(genetic => { %>
        <li> <%= genetic.type %> </li>

    <!-- EDIT -->
        <div  class="hidden id<%= genetic._id %>">
            <span>Species:</span>
            <input  type="text" value="<%= genetic.species %>" >
        </div>
    <!-- OG -->
        <span class="block id<%= genetic._id %>"> Species: <%= genetic.species %></span>


    <!-- EDIT -->
        <div  class="hidden id<%= genetic._id %>">
            <span>Strain:</span>
            <input  type="text" value="<%= genetic.strain %>" >
        </div>
    <!-- OG -->
        <span class="block id<%= genetic._id %>"> Strain: <%= genetic.strain %> </span>



    <!-- EDIT -->
        <div  class="hidden id<%= genetic._id %>">
            <span>Isolation:</span>
            <input  type="text" value="<%= genetic.isolation %>" >
        </div>
    <!-- OG -->
        <span class="block id<%= genetic._id %>"> Isolation: <%= genetic.isolation %> </span>


    <!-- EDIT -->
        <div  class="hidden id<%= genetic._id %>">
            <span>Quantity:</span>
            <input  type="text" value="<%= genetic.quantity %>" >
        </div>
     <!-- OG -->
        <span class="block id<%= genetic._id %>"> Quantity: <%= genetic.quantity %> </span>
        <!-- save button -->
        <button>save</button>
        <div class="flex space-x-3">
            <i class="fas fa-edit text-blue-400 cursor-pointer hover:text-blue-600" id="<%= genetic._id %>"></i>
            <i class="fa-solid fa-trash text-red-400 cursor-pointer hover:text-red-600" id="<%= genetic._id %>"></i>
        </div>
   <% }) %>

   <script>
        const trash = document.getElementsByClassName('fa-trash');
        const edit = document.getElementsByClassName('fa-edit');

            Array.from(edit).forEach(e => {
                    e.addEventListener('click', EDIT);

                });


            function EDIT(e){
                const allInputs = document.querySelectorAll(`.id${e.target.id}`)
                console.dir(allInputs)
                allInputs[0].classList.toggle('hidden')
                allInputs[1].classList.toggle('hidden')
                allInputs[2].classList.toggle('hidden')
                allInputs[3].classList.toggle('hidden')
                allInputs[4].classList.toggle('hidden')
                allInputs[5].classList.toggle('hidden')
                allInputs[6].classList.toggle('hidden')
                allInputs[7].classList.toggle('hidden')

                const species = allInputs[0].querySelector('input').value
                const strain = allInputs[2].querySelector('input').value
                const isolation = allInputs[4].querySelector('input').value
                const quantity = allInputs[6].querySelector('input').value

                console.log(species)
                console.log(strain)
                console.log(isolation)
                console.log(quantity)

                fetch(`/inventory/genetic/update/${e.target.id}`,{
                    method: 'PUT',
                    headers: {
                         'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ species, strain, isolation, quantity })
                })
                .then(response => {
                    if (response.ok) {

                        // window.location.reload();
                    } else {
                        console.error('Error updating genetics');
                    }
                })
                .catch(error => console.error('Error:', error));
            }
                            


            Array.from(trash).forEach(e => {
                e.addEventListener('click', DEL);
            });

            function DEL(e) {
                const geneticID = e.target.id;
                console.log(geneticID)
                fetch(`/inventory/genetic/delete/${geneticID}`, {
                    method: "DELETE",
                    headers: {
                        'content-type': 'application/json'
                    }
                })
                .then(response => {
                    if (response.ok) {
                        window.location.reload();
                    } else {
                        console.error('Error deleting genetics');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            }
   </script>
</body>
</html>